.dashboard-container {
    display: flex;
    height: 100vh;
  }
  
   .sidebar {
    width: 20%;
    background: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 4px 4px #00000040;

  } 
  
  #head{
    font-family: Jomhuria;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;
    color:  #474444;
       
  }
  
  #optn{
    font-family: Poppins;  
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
color: #474444;
text-decoration: none;
border-radius: 10px 10px 10px 10px;
    border: #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 0px #0000001F;

    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
 }

 li::marker {
  color:  #EDEDED;
  
}
#optn1{
  font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
color: #474444;
text-decoration: none;
border-radius: 10px 10px 10px 10px;
    border: #FFFFFF;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-right: 80px;
    padding-left: 81px;
    padding-bottom: 10px;
 }
 #optn2{
  font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
color: #474444;
text-decoration: none;
border-radius: 10px 10px 10px 10px;
    border: #FFFFFF;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-left: 66px;
    padding-right: 66px;
    padding-bottom: 10px;
 }
#heads{
  margin-top: 100px;
}
.sidebar1{
  margin-top: 40px;
}
 
   .logout {
    margin-top: auto;
    font-size: 18px;
    
    text-decoration: none;
    padding: 10px 15px;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    text-align: center;
    width: 83px;
height: 30px;
top: 786px;
left: 55px;

color: #474444;

}
#head2{
    font-family: Poppins;
font-size: 50px;
font-weight: 600;
line-height: 75px;
text-align: left;
color: #5076FF;
text-align:center;

}
#content {
    width: 80%;
    padding: 40px;
    background: #EDEDED;
}
#tbl{
    margin-left: 50px;
}
#row1{
    width: 925px;
    height: 35px;
    top: 188px;
    left: 276px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
    background: #5076FF;
    
}
.sn{
    font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    color:  #FFFFFF;
}
#data{
    font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 40px;
text-align: center;
color : #000000;

}